
.banner {
  width:100%;
  height:30em;
  background-image:url('https://c.stocksy.com/a/RcN300/z0/805779.jpg');
  background-size:cover;
  text-align: center;
}

#bannerText{
  font-size:7.5em;
  color:white;
}
/*blinking cursor for typed.js*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#bold{
  color:red;
}
.sidebar-nav {
  float:right;
    top: 0;
    padding: 0;
    list-style: none;
    background-color: grey;
    float:left;
}

.cityInfo{
  background-color:black;
  color:white;
  clear:right;
  float:right;
}
